# Pakai ini untuk semua file yang mau lu sembunyiin
*.config.js          linguist-generated=true
*.js                 linguist-generated=true
.prettierrc          linguist-generated=true
rust/benches/**      linguist-generated=true
ts/tests/**          linguist-generated=true
ts/benchmarks/**     linguist-generated=true
ts/src/generated/**  linguist-generated=true
types/**             linguist-generated=true
.testings/**         linguist-generated=true
docs/**              linguist-generated=true
api/**               linguist-generated=true
*.sh                 linguist-generated=true
*.d.ts               linguist-generated=true
