:root {
  --vp-c-brand-1: #ff1744;
  --vp-c-brand-2: #ff5252;
  --vp-c-brand-3: #c51162;

  --vp-c-brand-soft: rgba(255, 0, 0, 0.14);
}

.vp-code-group {
  margin: 20px 0 !important;
  border-radius: 12px !important;
  overflow: hidden; /* Memotong sudut tajam dari blok kode di dalamnya */
}

/* 2. Bersihkan margin bawaan blok kode di DALAM Code Group agar tidak double */
.vp-code-group div[class*="language-"] {
  margin: 0 !important;
  border-radius: 0 !important; /* Menyerahkan border-radius ke pembungkus utama (.vp-code-group) */
}

/* Memberi jarak/margin kiri pada seluruh barisan nama file di Code Group */
.vp-code-group label {
  padding-left: 12px !important; /* Gunakan padding agar area klik tab tidak terpotong */
}

div[class*="language-"] {
  margin: 20px 0 !important;
  border-radius: 12px !important;
  overflow: hidden;
}

div[class*="language-"] pre {
  padding: 16px !important;
}

div[class*="language-"] > code, 
div[class*="language-"] > pre {
  border-radius: 12px !important;
}

.custom-sidebar-top {
  padding: 16px 20px;
  border-bottom: 1px solid var(--vp-c-divider);
  margin-bottom: 16px;
}

.sidebar-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version-text {
  margin: 0 !important;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--vp-c-text-2);
  /* Logic pemotongan teks */
  white-space: nowrap;      /* Mencegah teks turun ke bawah */
  overflow: hidden;         /* Menyembunyikan bagian yang meluap */
  text-overflow: ellipsis;  /* Menambahkan titik-titik (...) */
  
  /* Beri batasan lebar agar dia tidak menabrak tombol link */
  max-width: 60%;           
}

.release-link {
  font-size: 0.7rem;
  color: var(--vp-c-brand);
  text-decoration: none;
  transition: opacity 0.25s;
}

.release-link:hover {
  opacity: 0.7;
}

.giscus-frame {
  min-height: 80px !important;
}